{% extends 'base.html.twig' %}

{% block page_header %}
  <div class="page-title">
    <img src="/img/fruitpassion.png" width="50px" height="50px" class="sticker-image"/>
    <h1>{{ login }} review statistics</h1>
  </div>
{% endblock %}

{% block page_info %}
<div class="jumbotron">
  <h2>About this dashboard</h2>
  <div>
    You can see the same data on your personal GitHub page:
    <a href="https://github.com/{{ login }}">https://github.com/{{ login }}</a>
  </div>
</div>
{% endblock %}

{% block page_content %}
  <dl class="row">
    {% for data in stats %}
      <dt class="col-sm-4">On {{ data['day'] }} reviewed {{ data['total'] }} pull requests:</dt>
      <dd class="col-sm-8">
           {{ data['PR'] | raw }}
      </dd>

    {% endfor %}
  </dl>

{% endblock %}

{% block footer %}
  <footer>
    <div class="container">
      <p>
        Data fetched from the <a href="https://docs.github.com/en/graphql">GitHub GraphQL API</a>.
        <br/>You can see the same data on your personal GitHub page (see <a
            href="https://docs.github.com/en/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-graphs-on-your-profile/viewing-contributions-on-your-profile">GitHub
          doc</a>) or explore it using the API explorer:
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">https://docs.github.com/en/graphql/overview/explorer</a>
      </p>
    </div>
  </footer>
{% endblock %}
