{#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.
#}
{% extends 'base.html.twig' %}

{% block page_header %}
  <div class="page-title">
    <img src="/img/fruitpassion.png" width="50px" height="50px" class="sticker-image"/>
    <h1>{{ login }} daily review statistics</h1>
  </div>
{% endblock %}

{% block page_info %}
  <div class="jumbotron">
    <h2>About this dashboard</h2>
    <div>
      You can see the same data on your personal GitHub page:
      <a href="https://github.com/{{ login }}">https://github.com/{{ login }}</a>
    </div>
  </div>
{% endblock %}

{% block page_content %}

  <div class="light-jumbotron container">
    <h2>Week stats</h2>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Week</th>
      <th scope="col">Total</th>
    </tr>
    </thead>
    <tbody>
    {% for weekStat in weekStats %}
      <tr>
        <th scope="row"> {{ weekStat.number }}</th>
        <td>{{ weekStat.total }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <div class="light-jumbotron container">
    <h2>Last 90 days</h2>
  </div>

  <dl class="row">
    {% for data in dayByDayStats %}
      <dt class="col-sm-4">On {{ data['day'] }} reviewed {{ data['total'] }} pull requests:</dt>
      <dd class="col-sm-8">
        {{ data['PR'] | raw }}
      </dd>

    {% endfor %}
  </dl>

{% endblock %}

{% block footer %}
  <footer>
    <div class="container">
      <p>
        Data fetched from the <a href="https://docs.github.com/en/graphql">GitHub GraphQL API</a>.
        <br/>You can see the same data on your personal GitHub page (see <a
            href="https://docs.github.com/en/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-graphs-on-your-profile/viewing-contributions-on-your-profile">GitHub
          doc</a>) or explore it using the API explorer:
        <a href="https://docs.github.com/en/graphql/overview/explorer">https://docs.github.com/en/graphql/overview/explorer</a>
      </p>
    </div>
  </footer>
{% endblock %}
