{% extends 'base.html.twig' %}
{% block body %}

    <div class="page-header">
        <h1>{{ login }}</h1>
    </div>

    <p>
        You can see the same data on your personal GitHub page:
        <a href="https://github.com/{{ login }}">https://github.com/{{ login }}</a>
    </p>

    <dl class="dl-horizontal">

      {% for data in stats %}

        <dt>On {{ data['day'] }}</dt>
        <dd>
            reviewed {{ data['total'] }} pull requests: {{ data['PR'] | raw }}
        </dd>

      {% endfor %}

{% endblock %}
