{#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.
#}
{% extends 'base.html.twig' %}

{% block page_header %}
  <div class="page-title">
    <img src="/img/fruitpassion.png" width="50px" height="50px" class="sticker-image"/>
    <h1>Dashboard - Maintainers review daily stats</h1>
  </div>
{% endblock %}

{% block page_info %}
  <div class="jumbotron">
    <h2>About this dashboard</h2>
    <div>
      This dashboard displays the review statistics collected day by day.
      <br/><br/>
      It <strong>does not</strong> monitor the effort or time spent on reviewing pull requests. It is a simple
      indicator.
      <br/>Moreover, if a pull request has been reviewed multiple times by someone on the same day,
      it will be counted once only. So this dashboard monitors the number of different pull requests reviewed,
      not the number of reviews.
    </div>
  </div>
{% endblock %}

{% block page_content %}
  <div>
    <h2>Last seven days</h2>
  </div>

  <div class="dl-horizontal">
    Last seven days total: {{ lastSeven.totalTeam }}
  </div>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      {% for day in lastSeven.days %}
        <th scope="col">{{ day }}</th>
      {% endfor %}
      <th scope="col">total</th>
    </tr>
    </thead>
    <tbody>
    {% for login, data in lastSeven.lastSeven %}
      <tr>
        <th scope="row">
          <a href="{{ path('app_view_developer', {login: login}) }}">{{ login }}</a>
        </th>

        {% for key, total in data %}
          <td>
            {% if key == 'total' %}
            <span class="badge bg-secondary">{{ total }}</span>
            {% else %}
            {% if (total <= 2 ) %}
            <span class="badge bg-danger">
            {% elseif (total <= 4 ) %}
            <span class="badge bg-warning">
            {% elseif (total >= 20 ) %}
            <span class="badge bg-success">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star"
                 viewBox="0 0 16 16">
              <path
                  d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
            </svg>
            {% else %}
              <span>
              {% endif %}
                {{ total }}
            </span>
              {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <div>
    <h2>Last thirty days</h2>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      {% for teamMember in lastThirty.teamMembers %}
        <th scope="col">{{ teamMember }}</th>
      {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for day, data in lastThirty.lastThirty %}
      <tr>
        <th scope="row">
          {{ day }}
        </th>

        {% for total in data %}
          <td>
            {% if (total <= 2 ) %}
            <span class="badge bg-danger">
            {% elseif (total <= 4 ) %}
            <span class="badge bg-warning">
            {% elseif (total >= 20 ) %}
            <span class="badge bg-success">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star"
                 viewBox="0 0 16 16">
              <path
                  d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
            </svg>
            {% else %}
              {% endif %}
              {{ total }}
            </span>
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block footer %}
  <footer>
    <div class="container">
      <p>
        Data fetched from the <a href="https://docs.github.com/en/graphql">GitHub GraphQL API</a>.
        <br/>You can see the same data on your personal GitHub page (see <a
            href="https://docs.github.com/en/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-graphs-on-your-profile/viewing-contributions-on-your-profile">GitHub
          doc</a>) or explore it using the API explorer:
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">https://docs.github.com/en/graphql/overview/explorer</a>
      </p>
      <p>
        The code of this application is available on <a href="https://github.com/matks/fruitdelapassion">GitHub</a>.
      </p>
    </div>
    </div>
  </footer>
{% endblock %}
