{#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.
#}
{% extends 'base.html.twig' %}

{% block page_header %}

  <div class="page-title">
    <img src="/img/fruitpassion.png" width="50px" height="50px" class="sticker-image"/>
    <h1>Snapshot - PRs Waiting for review for how long</h1>
  </div>
{% endblock %}

{% block page_info %}
  <div class="jumbotron">
    <h2>About this dashboard</h2>
    <div>
      This dashboard shows a snapshot of the PRs waiting for review, with how long since last review.<br/>
      It is experimental.
      <a href="{{ url }}">Find
        the list of these PRs on GitHub</a>
    </div>
  </div>
{% endblock %}

{% block page_content %}

  <div>
    <div class="light-jumbotron container">
      <h2>PRs not reviewed yet ({{ PRs.never_reviewed|length }} PRs)</h2>
    </div>

    <div class="pr-table">
      {% for PR in PRs.never_reviewed %}
        {% include 'pr_row.html.twig' with {'PR': PR} only %}
      {% endfor %}
    </div>

    <div>
      <div class="light-jumbotron">
        <h2>PRs reviewed at least once</h2>
      </div>

      {% for date, day in PRs.reviewed_at_least_once %}
        <hr>
        {% if date == 0 %}
          <h3>Reviewed today</h3>
        {% elseif date > 0 and date < 4 %}
          <h3>Reviewed <span class="badge bg-success">{{ date }}</span> days ago</h3>
        {% elseif date > 4 and date < 10 %}
          <h3>Reviewed <span class="badge bg-primary">{{ date }}</span> days ago</h3>
        {% elseif date > 10 and date < 20 %}
          <h3>Reviewed <span class="badge bg-warning">{{ date }}</span> days ago</h3>
        {% else %}
          <h3>Reviewed <span class="badge bg-danger">{{ date }}</span> days ago</h3>
        {% endif %}

        {% for PR in day %}
          {% include 'pr_row.html.twig' with {'PR': PR} only %}
        {% endfor %}
      {% endfor %}
    </div>

  </div>

{% endblock %}

{% block footer %}
  <footer>
    <div class="container">
      <p>
        Data fetched from the <a href="https://docs.github.com/en/rest/">GitHub REST API</a>.
      </p>
    </div>
  </footer>
{% endblock %}
